.App {
  text-align: center;
  font-family: sans-serif;
}

body {
  padding: 20px 50px;
}

h1 {
  font-size: 50px;
  color: lightcoral;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 5px;
  font-size: 18px;
}

input[type="search"] {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid lightcoral;
  border-radius: 5px;
}

input:focus {
  outline: 1px solid coral;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  background-color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 5px;
}

.icon {
  width: 200px;
}

strong {
  color: lightcoral;
}

a {
  color: lightcoral;
}

.link {
  margin-top: 50px;
}