.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #b4c2d7;
  padding: 30px;
  border-radius: 10px;
  color: #878787;
  box-shadow: 2px 2px 10px 0 #b4c2d7;
}

.Weather h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 10px 0;
  line-height: 29px;
  color: #6E9CE0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin-bottom: 5px;
}

.Weather .temperature {
  font-weight: bold;
  color: #464646;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto 0;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}